<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body{
		background-color: #024b37;
		color : white;
		}
	</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
		<a class="navbar-brand ms-4 text-white fw-bold" href="#">HealthStack</a>
    </nav>
	
	<div class="bg-white" style="	margin: 2px 25px;
	height: 90vh;">
	
	<div style="padding-top: 150px;">
	<h2 class="text-center" style="color:green;">OTP Verified Successfully! ✅</h2>
	<button type="submit" style="display: flex; margin: auto;" class="btn btn-success" onclick="location.href='signup2'">Click to Proceed Next</button>
	</div>
</div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
